/* Admin styles specific to admin page */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
	display: block;
	margin: 10px 0 5px;
}

form input, form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	border-radius: 5px;
}

form button {
	padding: 10px;
	background: #a45022;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

form button:hover {
	background: #581845;
}
