@media screen and (max-width:1366px){
	
	
}/*max-width:1366px*/

@media screen and (max-width:1200px){
	
}/*max-width:1200px*/

@media screen and (max-width:1199px){
	.header {padding: 25px 0;}
	.header-part h2 {font-size:36px;}
	.header-part h3 {font-size: 24px;}
}/*max-width:1199px*/
@media screen and (max-width:1100px){
    
}/*max-width:1100px*/

@media screen and (max-width:1099px){
    
}/*max-width:1099px*/
@media screen and (max-width:1024px){
	
}/*max-width:1024px*/


@media screen and (max-width:992px){
    
}/*max-width:992px*/


@media screen and (max-width:991px){

}/*max-width:991px*/

@media screen and (max-width:768px){
	
	
}/*max-width:768px*/


@media screen and (max-width:767px){
	
}/*max-width:767px*/

@media screen and (max-width: 680px){

}/*max-width:680px*/
@media screen and (max-width: 667px){
	
}/*max-width:667px*/

@media screen and (max-width: 640px){
	
}/*max-width:640px*/

@media screen and (max-width: 580px){
	
}/*max-width:580px*/

@media screen and (max-width: 540px){
	
	.foot-menu.pull-right {float: left!important; margin-top: 20px;}
	
}/*max-width:540px*/
@media screen and (max-width: 480px){
	.header-part h3 {font-size: 18px;line-height: 1.8;}
}/*max-width:480px*/

@media screen and (max-width: 440px){
	
}/*max-width:400px*/

@media screen and (max-width:399px){
	
	
}/*max-width:399px*/

@media screen and (max-width:350px){

}/*max-width:350px*/

@media screen and  (max-width: 320px){
	
	
}/*max-width:320px*/

